@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "Outfit", "san-serif";
  color: #010101;
}

/* resets */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #010101;
}

button {
  outline: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

input {
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: 1.6rem;
}
